
body {
    background-image: url("../images/main_bg.png");
    background-repeat: repeat;
    color: #000305;
    font-family: calibri;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    text-align: left;
}
img {
    border: medium none;
}
h3 {
    color: #888888;
    font-size: 19px;
    line-height: 30px;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h5, h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.normaltext2 {
    color: #666666;
    font-size: 12px;
    line-height: 19px;
}
.labelgreen {
    color: #017451;
    text-decoration: none;
}
.common_link {
    color: #005887;
    text-decoration: none;
}
.common_link:hover {
    color: #02496e;
    text-decoration: underline;
}
.common_link2 {
    color: #40b0ea;
    text-decoration: none;
}
.common_link2:hover {
    color: #8fd9ff;
    text-decoration: underline;
}
.read_more {
    color: #199bbf;
    float: right;
    font-size: 14px;
    padding-top: 10px;
    text-decoration: none;
}
.read_more:hover {
    color: #055d75;
    font-size: 14px;
}
.top_wrap {
    color: #c1c1c1;
    margin: 0 auto;
    width: 990px;
}
.news_head {
    color: #d3d3d3;
    float: left;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 5px;
}
.marquee_block {
    color: #d3d3d3;
    float: left;
    font-size: 12px;
    font-weight: normal;
    margin-left: 4px;
    margin-top: 5px;
    width: 400px;
}
.welcome_txt {
    color: #199bbf;
    float: left;
    font-weight: bold;
    padding-left: 35px;
    padding-top: 4px;
}
.welcome_name {
    color: #ffffff;
    display: block;
    float: left;
    padding-left: 6px;
    padding-top: 4px;
}
.search_icon {
    display: block;
    float: right;
    margin-top: 7px;
}
.search_field {
    border: 1px solid #98dff3;
    float: right;
    font-style: italic;
    width: 190px;
}
.banner {
    float: left;
    height: 299px;
    width: 990px;
}
.banner_shadow {
    float: left;
    height: 30px;
    width: 990px;
}
.labeltext {
    color: #030303;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
}
.labeltextbold {
    color: #030303;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 1px;
}
.form_head {
    color: #707070;
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
}
.form_lable {
    color: #9b9b9b;
    font-size: 15px;
    font-weight: normal;
    padding-left: 10px;
}
.asteric {
    color: #ff0000;
    font-weight: normal;
}
.top_bg {
    background-color: #222222;
    border-bottom: 2px solid #33bee5;
    float: left;
    height: 30px;
    width: 100%;
}
.bottom_bg {
    background-color: #2e2e2e;
    border-top: 2px solid #33bee5;
    bottom: 0;
    color: #ababab;
    float: left;
    font-size: 12px;
    height: 40px;
    line-height: 20px;
    padding: 5px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 11111;
}
.bottom_bg2 {
    background-color: #191919;
    color: #ababab;
    float: left;
    font-size: 12px;
    height: 30px;
    line-height: 20px;
    padding: 5px;
    width: 100%;
    z-index: 11111;
}
.bottom_bg2_wrap {
    background-color: #131313;
    background-image: url("../images/footart.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    border-left: 1px solid #232323;
    border-right: 1px solid #232323;
    height: 30px;
    margin: auto;
    width: 990px;
}
.facebook_btn {
    background-image: url("../images/Facebook.png");
    background-repeat: no-repeat;
    border: medium none;
    display: block;
    float: right;
    height: 52px;
    margin: 4px;
    text-decoration: none;
    width: 52px;
}
.facebook_btn:hover {
    background-image: url("../images/Facebook.png");
    background-repeat: no-repeat;
    border: medium none;
    display: block;
    float: right;
    height: 52px;
    margin: 4px;
    text-decoration: none;
    width: 52px;
}
.twitter_btn {
    background-image: url("../images/Twitter.png");
    background-repeat: no-repeat;
    border: medium none;
    display: block;
    float: right;
    height: 52px;
    margin: 4px;
    text-decoration: none;
    width: 52px;
}
.twitter_btn:hover {
    background-image: url("../images/Twitter.png");
    background-repeat: no-repeat;
    border: medium none;
    display: block;
    float: right;
    height: 52px;
    margin: 4px;
    text-decoration: none;
    width: 52px;
}
.bottom_bg2 a {
    color: #ababab;
    text-decoration: none;
}
.bottom_bg2 a:hover {
    color: #ffffff;
    text-decoration: none;
}
.bottom_bg2 a.active {
    color: #ffffff;
    text-decoration: none;
}
.bottom_bg a {
    color: #ababab;
    text-decoration: none;
}
.bottom_bg a:hover {
    color: #ffffff;
    text-decoration: none;
}
.bottom_bg a.active {
    color: #ffffff;
    text-decoration: none;
}
#main_wrapper {
    background-color: #ffffff;
    margin: 0 auto;
    width: 990px;
}
#main_container {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    float: left;
    width: 990px;
}
#main_c {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    float: left;
    width: 500px;
}
.top_shadow {
    float: left;
    height: 30px;
    width: 990px;
}
.body_container {
    float: left;
    height: auto;
    margin-bottom: 70px;
    width: 100%;
}
.home_main_containt {
    background-color: #f8f8f8;
    border-left: 3px solid #33bee5;
    color: #2e2e2e;
    float: left;
    font-size: 17px;
    height: auto;
    line-height: 24px;
    margin-bottom: 10px;
    margin-left: 37px;
    margin-top: 10px;
    padding: 10px;
    width: 894px;
}
.main_devider {
    background-image: url("../images/main_devider2.png");
    background-repeat: no-repeat;
    float: left;
    height: 26px;
    margin-top: 5px;
    width: 990px;
}
.home_main_containt:hover {
    box-shadow: 0 1px 10px #3b3b3b;
}
.home_main_containt2 {
    background-color: #ffffff;
    border-bottom: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    color: #2e2e2e;
    float: left;
    font-size: 15px;
    height: auto;
    line-height: 20px;
    margin-left: 37px;
    margin-top: 10px;
    width: 400px;
}
.home_main_containt3 {
    background-color: #ffffff;
    color: #888888;
    float: left;
    font-size: 14px;
    height: auto;
    line-height: 20px;
    margin-left: 37px;
    margin-top: 50px;
    width: 914px;
}
.home_main_containt2:hover {
    box-shadow: 0 1px 10px #3b3b3b;
}
.features_left {
    float: left;
    height: auto;
    width: 250px;
}
.faq_left {
    float: left;
    height: auto;
    width: 350px;
}
.faq_right {
    float: right;
    height: auto;
    padding-top: 30px;
    width: 550px;
}
.faq_left ul {
    border-left: 1px solid #d3d3d3;
    margin: 10px 0 0;
    padding: 0;
}
.faq_left ul li {
    list-style: outside none none;
    width: 345px;
}
.faq_left ul li a {
    background-color: #f3f3f3;
    border-top: 1px solid #ffffff;
    color: #222222;
    display: block;
    float: left;
    font-size: 16px;
    line-height: 45px;
    padding-left: 10px;
    text-decoration: none;
    width: 290px;
}
.faq_left ul li a:hover {
    background-color: #007bff;
    border-left: 6px solid #ffffff;
    border-top: 1px solid #d3d3d3;
    color: #ffffff;
}
.faq_left ul li a.active {
    background-color: #007bff;
    border-left: 6px solid #ffffff;
    color: #ffffff;
}
.active_after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #007bff;
    border-style: solid;
    border-width: 22px 0 23px 30px;
    float: left;
    height: 0;
    line-height: 0;
    width: 0;
}
.features_right {
    height: auto;
    width: 650px;
}
.features_left ul {
    margin: 0;
    padding: 0;
}
.features_left ul li {
    list-style: outside none none;
    width: 245px;
}
.features_left ul li a {
    background-color: #f3f3f3;
    border-top: 1px solid #ffffff;
    color: #888888;
    display: block;
    font-size: 16px;
    line-height: 45px;
    padding-left: 10px;
    text-decoration: none;
}
.features_left ul li a:hover {
    background-color: #ffffff;
    border-top: 1px solid #d3d3d3;
    color: #199bbf;
}
.features_left ul li a.active {
    background-color: #ffffff;
    border-top: 1px solid #d3d3d3;
    color: #199bbf;
}
.main_header {
    border-bottom: 1px dashed #33bee5;
    color: #e06a0a;
    font-size: 25px;
    line-height: 33px;
    text-align: center;
    width: 100%;
}
.body_wrap {
    margin: 0 auto 80px;
    width: 930px;
}
.header2 {
    color: #01527d;
    float: left;
    font-size: 25px;
    line-height: 70px;
    margin-left: 37px;
    margin-top: 0;
    text-align: center;
    width: 904px;
}
.header2_shadow {
    float: left;
    height: 10px;
    text-align: center;
    width: 904px;
}
.box_container {
    float: left;
    height: 317px;
    margin-left: 37px;
    margin-top: 20px;
    width: 280px;
}
.box_wrap {
    border: 1px solid #f3f3f3;
    float: left;
    height: 300px;
    width: 280px;
}
.box_wrap:hover {
    box-shadow: 0 1px 10px #3b3b3b;
}
.box_top_shadow {
    float: left;
    height: 7px;
    width: 280px;
}
.box_bottom_shadow {
    float: left;
    height: 7px;
    width: 280px;
}
.box_head {
    color: #56994a;
    float: left;
    font-size: 21px;
    line-height: 30px;
    text-align: center;
    width: 100%;
}
.box_head2 {
    color: #1c700d;
    float: left;
    font-size: 21px;
    line-height: 30px;
    width: 100%;
}
.box_body {
    color: #222222;
    float: left;
    font-size: 12px;
    height: 230px;
    line-height: 20px;
    padding: 5px;
    width: 270px;
}
.box_plan {
    float: left;
    height: 217px;
    margin-left: 20px;
    margin-top: 20px;
    width: 280px;
}
.box_wrap_plan {
    border: 1px solid #f3f3f3;
    float: left;
    height: 200px;
    width: 280px;
}
.box_wrap_plan:hover {
    box-shadow: 0 1px 10px #3b3b3b;
}
.box_top_shadow {
    float: left;
    height: 7px;
    width: 280px;
}
.box_bottom_shadow {
    float: left;
    height: 7px;
    width: 280px;
}
.box_head_plan {
    border-bottom: 1px solid #01527d;
    color: #56994a;
    float: left;
    font-size: 21px;
    line-height: 30px;
    width: 100%;
}
.box_body_plan {
    color: #444444;
    float: left;
    font-size: 16px;
    height: 160px;
    line-height: 22px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    text-align: justify;
    width: 270px;
}
.features_container {
    float: left;
    padding: 10px;
    width: 760px;
}
.features_body {
    float: left;
    width: 760px;
}
.features_wrap_help {
    background-color: #c8ffc7;
    border: 1px solid #f3f3f3;
    float: left;
    margin-top: 10px;
    padding: 5px;
    width: 97%;
}
.features_search_wrap {
    background-color: #f3f3f3;
    background-repeat: repeat-x;
    border: 1px solid #f3f3f3;
    float: left;
    margin-top: 10px;
    width: 100%;
}
.features_head {
    background-image: url("../images/goodgradient.png");
    background-repeat: repeat-x;
    border: 1px solid #f3f3f3;
    float: left;
    padding-left: 10px;
    width: 100%;
}
.features_help_head {
    border-left: 2px solid #199bbf;
    color: #444444;
    float: left;
    font-size: 18px;
    line-height: 20px;
    margin: 3px 0 5px;
    padding-left: 10px;
    width: 100%;
}
.features_help_body {
    color: #315d30;
    font-family: Trebuchet MS;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
}
.feature_search_head {
    color: #444444;
    float: left;
    font-family: Cambria;
    font-size: 18px;
    line-height: 20px;
    margin: 3px 0 5px;
    padding-left: 10px;
    text-decoration: none;
    width: 100%;
}
.feature_search_body {
    background-color: #f8f8f8;
    color: #717171;
    display: none;
    float: left;
    font-size: 13px;
    line-height: 20px;
    width: 100%;
}
.features_link_container {
    background-color: #f3f3f3;
    float: right;
    height: 500px;
    width: 130px;
}
.features_link_active {
    background-color: #ffffff;
    border-bottom: 1px solid #d3d3d3;
    border-right: 2px solid #199bbf;
    color: #222222;
    display: block;
    height: auto;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 120px;
}
.feature_add_body {
    float: left;
    margin-bottom: 50px;
    padding: 10px;
    width: 97%;
}
.features_link {
    background-color: #f3f3f3;
    border-bottom: 1px solid #d3d3d3;
    border-right: 2px solid #d4d4d4;
    color: #222222;
    display: block;
    height: auto;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 120px;
}
.toogle_link {
    display: block;
    margin: 4px;
}
.availability_wrap {
    background-color: #f8f8f8;
    color: #717171;
    display: none;
    float: left;
    font-size: 13px;
    width: 100%;
}
.month_view {
    background-image: url("../images/bg_grid.gif");
    background-repeat: repeat-x;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}
.devider_new {
    background-color: #ffffff;
    height: 35px;
    vertical-align: top;
}
.common_header {
    background-color: #95d9ec;
    border-right: 1px solid #f3f3f3;
    color: #222222;
    height: 25px;
    text-align: center;
}
.top_two_wrap {
    float: left;
    height: 98px;
    width: 100%;
}
.top_two_logo_wrap {
    float: left;
    height: 120px;
    width: 100px;
}
.top_two_menu_wrap {
    float: left;
    height: 120px;
    width: 850px;
}
INPUT {
    background: rgba(0, 0, 0, 0) url("../images/input.png") repeat-x scroll 0 0;
    border: 1px solid #d3d3d3;
    color: #555555;
    padding: 5px;
}
SELECT {
    background: rgba(0, 0, 0, 0) url("../images/input.png") repeat-x scroll 0 0;
    border: 1px solid #d3d3d3;
    color: #555555;
    float: left;
    padding: 5px;
}
TEXTAREA {
    background: rgba(0, 0, 0, 0) url("../images/input.png") repeat-x scroll 0 0;
    border: 1px solid #d3d3d3;
    color: #555555;
    float: left;
    padding: 5px;
}
input.button {
    background-repeat: repeat-x;
    border-style: solid;
    border-width: 1px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    line-height: 28px;
    margin: 0;
    padding: 0 10px;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.button {
    background-repeat: repeat-x;
    border-style: solid;
    border-width: 1px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    line-height: 28px;
    margin: 0;
    padding: 0 10px;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.button {
    background-position: 0 -80px;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
}
* + html .button, * + html .button-icon {
    border: 1px solid transparent;
}
.button {
    background-color: #263849;
    background-image: url("../images/bg-lite.png");
    border-color: #16222c;
}
.button:hover {
    background-color: #16222c;
    color: #ffffff;
}
.button-state {
    background-color: #0295cc;
    border-color: #0295cc;
}
.button-state:hover {
    background-color: #00aeef;
}
.button-action {
    background-image: url("../images/lite.png") !important;
}
.button-state {
    background-image: url("../images/bg-lite.png") !important;
}
.button-action {
    background-color: #ae085c;
    border-color: #ae085c;
}
.button-action:hover {
    background-color: #7a0440;
}
.button-back {
    background-color: #ab0105;
    border-color: #a90206;
}
.button-back:hover {
    background-color: #7a0306;
}
input.css-checkbox[type="checkbox"] {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
input.css-checkbox[type="checkbox"] + label.css-label {
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    height: 15px;
    line-height: 15px;
    padding-left: 20px;
    vertical-align: middle;
}
input.css-checkbox[type="checkbox"]:checked + label.css-label {
    background-position: 0 -15px;
}
.css-label {
    background-image: url("../images/dark-check-green.png");
}
#navigation {
    float: left;
    height: 110px;
    margin: 0;
    padding: 0;
    width: 890px;
}
.nav_links {
    margin: 0 0 0 140px;
    padding: 0;
}
.nav_links li {
    display: block;
    float: right;
    font-size: 16px;
    font-weight: bold;
    list-style: outside none none;
    text-align: center;
}
.nav_links a {
    color: #858474;
    display: block;
    float: left;
    height: 50px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 42px;
    text-decoration: none;
}
.nav_links a:hover {
    background-image: url("../images/hover.png");
    background-repeat: no-repeat;
    color: #ffffff;
}
.nav_links a.active {
    background-image: url("../images/hover.png");
    background-repeat: no-repeat;
    color: #ffffff;
}
.withdiv {
    background-image: url("../images/divider.png");
    background-repeat: no-repeat;
}
#breadcrumbs {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #c9c9c9;
    font-size: 14px;
    height: 2.7em;
    letter-spacing: 1px;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#breadcrumbs li {
    color: #777777;
    float: left;
    line-height: 2.7em;
    padding-left: 0.85em;
}
#breadcrumbs li a {
    background: rgba(0, 0, 0, 0) url("../images/breadcrums.jpg") no-repeat scroll right center;
    display: block;
    padding: 0 15px 0 0;
}
#breadcrumbs li a:link, #breadcrumbs li a:visited {
    color: #777777;
    text-decoration: none;
}
#breadcrumbs li a:hover, #breadcrumbs li a:focus {
    color: #222222;
}
.summary_parent_td {
    background-color: #e1ffd8;
    padding: 7px;
    text-align: left;
}
.summary_parent_td td {
    border-bottom: 1px dashed #d0d0d0;
}
.logo_shdw {
    box-shadow: 0 1px 5px #d3d3d3;
}
.alert, .alert-heading {
    color: #c09853;
    font-size: 14px;
    letter-spacing: 1px;
}
.alert .close {
    line-height: 18px;
    position: relative;
    right: -21px;
    top: -2px;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-success, .alert-success .alert-heading {
    color: #468847;
}
.alert-danger, .alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
}
.alert-danger, .alert-error, .alert-danger .alert-heading, .alert-error .alert-heading {
    color: #b94a48;
}
.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-info, .alert-info .alert-heading {
    color: #3a87ad;
}
.alert-block {
    padding-bottom: 14px;
    padding-top: 14px;
}
.alert-block > p, .alert-block > ul {
    margin-bottom: 0;
}
.alert-block p + p {
    margin-top: 5px;
}
.paging {
    color: #555555;
    font-size: 12px;
    padding: 3px;
}
.paging:hover {
    background: #4f7ec9 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 12px;
}
.pagingSelected {
    background: #000000 none repeat scroll 0 0;
    color: #ffffff;
    font-weight: bold;
    margin-right: 0;
    padding: 3px;
}
.embed-nav {
    background: #3d3d3e none repeat scroll 0 0;
    font: 13px/1.4 "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    position: relative;
    white-space: nowrap;
}
.embed-nav ul {
    list-style: outside none none;
    margin: 10px 0 0;
    padding: 0;
}
.embed-nav li {
    display: inline-block;
}
.embed-nav a {
    color: #76daff;
    display: inline-block;
    padding: 8px 16px;
    position: relative;
    text-decoration: none;
}
.embed-nav a:hover {
    background: #cccccc none repeat scroll 0 0;
    border-bottom: 1px solid #e06a0a;
    color: #000000;
}
.embed-nav a.active {
    background: #cccccc none repeat scroll 0 0;
    border-bottom: 1px solid #e06a0a;
    color: #000000;
}
.embed-nav a.active:hover, .embed-nav a.active:focus {
    border-top-color: transparent;
}
.embed-nav a.active::after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #e06a0a;
    content: "";
    left: 50%;
    margin-left: -8px;
    position: absolute;
    top: 100%;
    z-index: 1000;
}
#pricing-table {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
#pricing-table .plan {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #dddddd;
    color: #333333;
    float: left;
    font: 12px "Lucida Sans","trebuchet MS",Arial,Helvetica;
    margin-bottom: 30px;
    padding: 20px;
    position: relative;
    text-shadow: 0 1px rgba(255, 255, 255, 0.8);
    width: 110px;
}
#pricing-table #most-popular {
    border-radius: 5px;
    border-width: 3px;
    box-shadow: 20px 0 10px -10px rgba(0, 0, 0, 0.15), -20px 0 10px -10px rgba(0, 0, 0, 0.15);
    padding: 30px 20px;
    top: -13px;
    z-index: 2;
}
#pricing-table .plan:nth-child(1) {
    border-radius: 5px 0 0 5px;
}
#pricing-table .plan:nth-child(4) {
    border-radius: 0 5px 5px 0;
}
#pricing-table h3 {
    font-size: 16px;
    font-weight: bold;
    margin: -20px -20px 50px;
    padding: 20px;
}
.head1 {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #fff8f4 0%, #ffd8c1 100%) repeat scroll 0 0;
}
.head2 {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #fffcf7 0%, #fffbe0 100%) repeat scroll 0 0;
}
.head6 {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #edffed 0%, #cfffcc 100%) repeat scroll 0 0;
}
.head4 {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f7f7ff 0%, #bfe0ff 100%) repeat scroll 0 0;
}
.head5 {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #fef4ff 0%, #ffc1fb 100%) repeat scroll 0 0;
}
.head3 {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ffeaf5 0%, #ffcee7 100%) repeat scroll 0 0;
}
#pricing-table #most-popular h3 {
    background-color: #dddddd;
    background-image: linear-gradient(#eeeeee, #dddddd);
    border-radius: 5px 5px 0 0;
    margin-top: -30px;
    padding-top: 30px;
}
#pricing-table .plan:nth-child(1) h3 {
    border-radius: 5px 0 0;
}
#pricing-table .plan:nth-child(4) h3 {
    border-radius: 0 5px 0 0;
}
#pricing-table h3 span {
    background: #ffffff none repeat scroll 0 0;
    border: 5px solid #ffffff;
    border-radius: 100px;
    box-shadow: 0 5px 20px #dddddd inset, 0 3px 0 #999999 inset;
    color: #000000;
    display: block;
    font: bold 17px/100px arial;
    height: 100px;
    margin: 10px auto -65px;
    width: 100px;
}
#pricing-table h3 span sub {
    color: #007fc3;
    font-size: 10px;
    padding: 5px;
}
#pricing-table ul {
    list-style: outside none none;
    margin: 20px 0 0;
    padding: 0;
}
#pricing-table li {
    border-top: 1px solid #dddddd;
    display: block;
    float: none;
    padding: 10px 0;
}
#pricing-table .signup {
    background-color: #72ce3f;
    background-image: linear-gradient(#72ce3f, #62bc30);
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 2px 0 rgba(0, 0, 0, 0.7);
    color: #ffffff;
    display: inline-block;
    font: bold 14px Arial,Helvetica;
    margin: 20px 0 0;
    padding: 8px 20px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
#pricing-table .signup:hover {
    background-color: #62bc30;
    background-image: linear-gradient(#62bc30, #72ce3f);
}
.bt_extr {
    background-color: #72ce3f;
    background-image: linear-gradient(#72ce3f, #62bc30);
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 2px 0 rgba(0, 0, 0, 0.7);
    color: #ffffff;
    display: inline-block;
    font: bold 14px Arial,Helvetica;
    margin: 20px 0 0;
    padding: 8px 20px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
.bt_extr:hover {
    background-color: #62bc30;
    background-image: linear-gradient(#62bc30, #72ce3f);
}
#pricing-table .signup:active, #pricing-table .signup:focus {
    background: #62bc30 none repeat scroll 0 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) inset;
    top: 2px;
}
.ftr_link {
    background-color: #d3d3d3;
    border-bottom: 2px solid #d3d3d3;
    color: #222222;
    display: block;
    float: left;
    height: 90px;
    margin-bottom: 5px;
    margin-left: 17px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 120px;
}
.ftr_link:hover {
    background-color: #ffffff;
    border-bottom: 2px solid #e06a0a;
    box-shadow: 0 5px 10px #d3d3d3;
    color: #222222;
    display: block;
    float: left;
    height: 90px;
    margin-bottom: 5px;
    margin-left: 17px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 120px;
}
.ftr_link_active {
    background-color: #ffffff;
    border-bottom: 2px solid #e06a0a;
    box-shadow: 0 5px 10px #d3d3d3;
    color: #222222;
    display: block;
    float: left;
    height: 90px;
    margin-bottom: 5px;
    margin-left: 17px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 120px;
}
.table_style {
    background-color: #b6efff;
}
.main_tr {
    background-color: #295a69;
    color: #ffffff;
    font-size: 16px;
    height: 30px;
}
.tr_first {
    background-color: #ffffff;
    color: #242424;
    font-size: 15px;
    font-weight: normal;
    height: 30px;
}
.tr_second {
    background-color: #f3f3f3;
    color: #242424;
    font-size: 15px;
    font-weight: normal;
    height: 30px;
}
.hvr:hover {
    background-color: #e0ffdc;
}
box Styles-- > .box_main {
    display: block;
    float: left;
}
.box-inner {
    border: 1px solid #dedede;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    display: block;
    float: left;
    margin-bottom: 20px;
    width: 100%;
}
.box-header {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%) repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #dedede;
    border-image: none;
    border-radius: 3px 3px 0 0;
    border-style: none none solid;
    border-width: medium medium 1px;
    font-size: 16px;
    font-weight: bold;
    height: 35px;
    margin-bottom: 0;
    min-height: 35px !important;
    padding-top: 5px;
}
.head_box {
    color: #01527d;
    float: left;
    font-size: 25px;
    padding-left: 10px;
}
.head_box2 {
    color: #c75900;
    float: right;
    font-size: 18px;
    padding-right: 10px;
}
.headlist {
    color: #01527d;
    font-size: 17px;
    font-weight: bold;
    line-height: 30px;
    margin: 0;
    padding: 0;
}
.listdetails li {
    font-size: 17px;
    line-height: 30px;
    list-style-image: url("../images/liststyle2.png");
}
.listdetails li ul li {
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    list-style-image: url("../images/listype2.png");
}
.listdetails li ul li a {
    color: #0099cc;
    text-decoration: underline;
}
.listdetails li ul li a:hover {
    text-decoration: none;
}
.table-wrap {
    background-color: #e9f5f9;
    border: 1px solid #b8cfdd;
    overflow: hidden;
    padding: 20px;
}
.left-cr, .right-cr {
    float: left;
}
.left-cr, .right-cr {
    height: 53px;
    width: 10px;
}
.left-cr {
    background: rgba(0, 0, 0, 0) url("../images/cr-left.jpg") no-repeat scroll 0 0;
}
.right-cr {
    background: rgba(0, 0, 0, 0) url("../images/cr-right.jpg") no-repeat scroll 0 0;
}
.main-table {
    background: #ffffff url("../images/table-bg.png") repeat-x scroll 0 0;
    border-bottom: 1px solid #dfdfdf;
    border-collapse: collapse;
    border-spacing: 0;
}
.table-tr {
    background: rgba(0, 0, 0, 0) url("../images/th-bg.jpg") repeat-x scroll 0 0;
    color: #0e2937;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    text-align: left;
}
.table-td {
    border-left: 1px solid #dfdfdf;
    padding: 8px;
}
.table-td-right {
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    padding: 8px;
}
.label-text {
    color: #121313;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 1px;
}
.indexing_ulstyle {
    margin: 10px 0 0;
    padding: 0;
}
.indexing_ulstyle li {
    background-color: #f3f3f3;
    border-right: 2px solid #ffffff;
    border-top: 2px solid #d3d3d3;
    float: left;
    height: 30px;
    padding-right: 5px;
    padding-top: 5px;
    width: auto;
}
.box_text {
    color: #5b5b5b;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-left: 5px;
    padding-top: 8px;
}
.box1 {
    background-color: #fff488;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    width: 60px;
}
.box2 {
    background-color: #ff7979;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    width: 60px;
}
.box3 {
    background-color: #8fffab;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    width: 60px;
}
.box4 {
    background-color: #df69df;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    width: 60px;
}
.box5 {
    background-color: #a3a3ff;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    width: 60px;
}
.box6 {
    background-color: #e1c4a7;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    width: 60px;
}
.box7 {
    background-color: #eda9bc;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    width: 60px;
}
.box8 {
    background-color: #c5ff9e;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    width: 60px;
}
.box9 {
    background-color: #9689f2;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    width: 60px;
}
.box10 {
    background-color: #ea7f9c;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    width: 60px;
}
.box11 {
    background-color: #222222;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    width: 60px;
}
.registercls {
   background: #5090c1 none repeat scroll 0 0;
   border-top: 2px solid #597597;
   height: 40px;
   margin-left: 11px;
   font-size: 17px;
   font-weight: 400;
   text-shadow: 1px 0 1px rgba(0, 0, 0, 0.25);
}
.forgot-password-link {
    color: #fe9;
    text-decoration: none;
}
.user-signup-link {
    color: #cf7;
    text-decoration: none;
}
.control-group
{
margin-bottom: 20px;	
	
}
.control-label {
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 160px;
     margin-bottom: 0 !important;
    width: 100px;
     font-size: 16px;
    font-weight: normal;
    line-height: 20px;
}
.lbl{
 font-size: 14px;
    font-weight: normal;
    line-height: 20px;	
}
.controls{
margin-left: 120px;
}
h4.bigger {
    font-size: 19px;
}
.header {
    line-height: 28px;
}
.green {
    color: #69aa46 !important;
}
.lighter {
    font-weight: lighter;
}