<?xml version="1.0" encoding="UTF-8"?>   
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{dd/MM/yy hh:mm:ss:sss z}] %5p %c{2}: %m%n" />
		</layout>
	</appender>
	<appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</appender>
	
	<appender name="FILE.APPENDER" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="C:/Personal/Projects/SocietyMeetup/logs/Operation.logs" />
		<param name="MaxBackupIndex" value="100" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{dd/MM/yy hh:mm:ss:sss z}] %5p %c{2}: %m%n" />
		</layout>
	</appender>
	
	<logger name="com.mysociety" additivity="true">
	    <level value="debug"/>
	    <appender-ref ref="FILE.APPENDER"/>
	</logger>
	
	<root>
		<priority value="ERROR" />
		<appender-ref ref="FILE.APPENDER" />
	</root>

</log4j:configuration>  
